<!DOCTYPE html>
html
  head
    title Test
    link(rel="stylesheet", href="styles/main.scss")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:100,700,900&display=swap" )

  body
    include templates/header.pug