section.services
    div.services__banner-wrapper
        .services__banner
            .services__banner-moved
        .services__banner-text 
            span.services__banner-text--yellow Quality 
            span.services__banner-text--pink food is the 
            span.services__banner-text--green most important 
            span.services__banner-text--orange thing in our 
            span.services__banner-text--blue life
    h2.services__title.title 
        span.services__title-bold.title--bold Agro Food 
        | Services
    p.services__subtitle.subtitle Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. Ipsum is therefore always free from repetition injected humour, or non-characteristic words etc
    ul.services__offers
        each val, index in ['steak house', 'tasty cereals' , 'italian pizza', 'vegeterian burgers', 'awesome cupcake', 'vegetables']
            li.services__offers-item(class="services__offers-item-"+index )
                span.services__offers-item-text= val