.header {
    height: 1650px;
    background: $main-grey-1 url('../img/header-bg.jpg') no-repeat;
    background-position: top center;
    clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
    background-size: cover;
}

.top-header {
    border-bottom: 1px solid rgba($main-white, 0.12);
}

.container {
    max-width: 1175px;
    margin: 0 auto;
}

.top-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top-header__logo {
    position: absolute;
    width: 115px;
    height: 170px;
    background: url('../img/logo.png') no-repeat center;
}

.top-header__navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
}

.top-header__navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-header__navigation-item {
    position: relative;
    padding: 40px 0;
    margin-right: 35px;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        height: 2px;
        background-color: $main-yellow;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &:hover:after {
        left: 0;
        width: 100%;
        opacity: 1;
        visibility: visible;
    }
}

.top-header__navigation-link {
    text-decoration: none;
    color: $main-white;
}

.top-header__cta {
    background: $main-white;
    &:hover {
        background: transparent;
        border: 1px solid $main-white;
        color: $main-white;
    }
}

.header__title {
    max-width: 70%;
    margin: 180px auto;
    font-family: 'Storytella', serif;
    font-size: 12.5em;
    color: $main-white;
    font-weight: 400;
}

.header__grid {
    display: grid;
    grid-template-rows: 305px 305px;
    max-width: 80%;
    margin: 0 auto;
}

.header__grid-element {
    position: relative;
    background-size: contain;
}

.header__grid-element--text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .header__grid-title {
        color: $main-yellow;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 2.5em;
    }
}


.header__grid-title {
    position: absolute;
    bottom: 30px;
    left: 25px;
    color: $main-white;
    font-size: 1.875em;
    font-family: 'Raleway', sans-serif;
}

.header__grid-title--bold {
    display: block;
    font-weight: bold;
}

.header__grid-sweets {
    background: url('../img/header-1.jpg') no-repeat;
    background-size: cover;
    grid-area: sweets;
    grid-column: 1 / 50;
    grid-row-start: 1;
  }
  
  .header__grid-food {
    
    background: url('../img/header-2.jpg') no-repeat;
    background-size: cover;
    grid-area: food;
    grid-column: 50 / 100;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .header__grid-meat {
    grid-column: 100 / 150;
    grid-row-start: 1;
    background: url('../img/header-3.jpg') no-repeat;
    background-size: cover;
  }
  
  .header__grid-text {
    grid-column: 50 / 80;
    grid-row-start: 2;
  }
  
  .header__grid-fruits {
    background: url('../img/header-4.jpg') no-repeat;
    background-size: cover;
    grid-area: fruits;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column: 80 / 150;
  }