$main-white: #ffffff;
$main-black: #333333;
$main-grey-1: #c5c5c5;
$main-grey-2: #b3b3b3;
$main-grey-3: #666666;
$main-yellow: #fcdb5a;
$main-green: #72aa41;
$main-pink: #db2985;
$main-blue: #4fb1c9;
$main-orange: #f2a137;